<!doctype html>
<html>
	<head>
		<title>HHub - Games</title>
		<% include head.html %>
		<style>
		.page-btn {
			border-top: 1px solid #dee2e6 !important;
			border-bottom: 1px solid #dee2e6 !important;
			border-radius: 0 !important;
		}
		
		.page-btn-only {
			border: 1px solid #dee2e6 !important;
		}
		
		.page-btn-first {
			border-top: 1px solid #dee2e6 !important;
			border-bottom: 1px solid #dee2e6 !important;
			border-left: 1px solid #dee2e6 !important;
			border-radius: .25rem 0 0 .25rem !important;
		}

		.page-btn-last {
			border-top: 1px solid #dee2e6 !important;
			border-bottom: 1px solid #dee2e6 !important;
			border-right: 1px solid #dee2e6 !important;
			border-radius: 0 .25rem .25rem 0 !important;
		}
		
		.dropdown-menu {
			min-width: 5.8rem;
			height:140px;
			overflow-y:auto;
		}
		</style>
	</head>
	<body>
		<% include header.ejs %>
		<div class="container">
			<% if (games.length == 0) { %>
			<br>
			<div class="row">
			<div class="col-lg-3"></div>
					<div class="col-lg-6 alert alert-danger" role="alert">
						<h4 class="alert-heading">Wooops, nothing found!</h4>
						<p>Nothing matches the provided query.</p>
					</div>
				</div>
					<% } %>
			<br>
	
	<div class="container">

	<!--<div class="dropdown">Sort by:
	<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Sort by
	</button>
	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		<a class="dropdown-item" href="#">Rating</a>
		<a class="dropdown-item" href="#">Date</a>
	</div>
	<input type="checkbox" aria-label="Checkbox for following text input"> GBC
	<input type="checkbox" aria-label="Checkbox for following text input"> Open Source
	
	</div>
	-->
<br>
				<div class="card-columns">
					
					<% games.forEach( function(element){ %>
					<div class="card">

						 <a href="<%= "/game/"+element.data.permalink %>">
						 	<% if (element.data.screenshots[0]) { %>
						 	<img class="card-img-top img-fluid" src="<%= "/database/entries/" + element.data.permalink + "/" + element.data.screenshots[0] %>" alt="Card image cap"></a>
						 	<% } else { %>
						 	<img class="card-img-top img-fluid" src='/database/placeholder.png' alt="Card image cap"></a>
						 	<%  } %>
						<div class="card-body">
							<a href="<%= "/game/"+element.data.permalink %>"><h4 class="card-title"> <%= element.data.title %> </a>
							<% if (element.data.typetag == "game") { %>
							<span style="float:right; font-size: 0.7em" class="fa fa-gamepad"></span></h3>
							<% } else if (element.data.typetag == "demo") { %>
							<span style="float:right; font-size: 0.7em" class="fa fa-cubes"></span></h3>
							<% } else { %>
							<span style="float:right; font-size: 0.7em" class="fa fa-microchip"></span></h3>
							<% } %>
							<% if (element.data.tags) { %>
							<p class="card-text">
								<small class="text-muted"></small>
								<% element.data.tags.forEach( function(tag) { %>
								<span class="badge badge-secondary"><%= tag %></span>
								<% }) %>
							</p>
							<% } %>
						</div>
					</div>
					
					<% }) %>
				</div>
			</div>
					Legend: <i class="fa fa-gamepad"></i> Game, <i class="fa fa-cubes"></i> Demo, <i class="fa fa-microchip"></i> Homebrew. 
		</div>

	</div><br />
	<nav aria-label="Page navigation example">
	<ul class="pagination justify-content-center">
	
		<% 
		var maxPage = Math.max(pages);
		var prev = parseInt(p)-1;
		var next = parseInt(p)+1;
		
		if (p == 1) { %>
				
			<% if (maxPage == 1) { %>
			
			<div>
			  <a class="page-btn-only btn" data-toggle="dropdown" href="#">
				Page <%=p%>
			  </a>
			</div>
			<% } 
			else { %>
					
			<div>
			  <a class="page-btn-first btn dropdown-toggle" data-toggle="dropdown" href="#">
				Page <%=p%>
			  </a>

			  <div class="dropdown-menu">
				<% for(var i = 1; i<=pages; i++) { %>
				<a class="dropdown-item" style="color: #007bff" href="?page=<%=i%>"><%=i%></a>
				<% } %>
			  </div>
			</div>
			
			<li class="page-item"><a class="page-link" href="?page=<%=next%>">></a></li>
			<li class="page-item"><a class="page-link" href="?page=<%=maxPage%>">>></a></li>

			<% } }
			else if (p == maxPage) { %>
			
			<li class="page-item"><a class="page-link" href="?page=1"><<</a></li>			
			<li class="page-item"><a class="page-link" href="?page=<%=prev%>"><</a></li>
			
			<div>
			  <a class="page-btn-last btn dropdown-toggle" data-toggle="dropdown" href="#">
				Page <%=p%>
			  </a>

			  <div class="dropdown-menu">
				<% for(var i = 1; i<=pages; i++) { %>
				<a class="dropdown-item" style="color: #007bff" href="?page=<%=i%>"><%=i%></a>
				<% } %>
			  </div>
			</div>
						
			<% } else { %>
			
			<li class="page-item"><a class="page-link" href="?page=1"><<</a></li>
			<li class="page-item"><a class="page-link" href="?page=<%=prev%>"><</a></li>
			
			<div>
			  <a class="page-btn btn dropdown-toggle" data-toggle="dropdown" href="#">
				Page <%=p%>
			  </a>

			  <div class="dropdown-menu">
				<% for(var i = 1; i<=pages; i++) { %>
				<a class="dropdown-item" style="color: #007bff" href="?page=<%=i%>"><%=i%></a>
				<% } %>
			  </div>
			</div>
			
			<li class="page-item"><a class="page-link" href="?page=<%=next%>">></a></li>
			<li class="page-item"><a class="page-link" href="?page=<%=maxPage%>">>></a></li>

		<% } %>
		
	</ul>
</nav>
	<% include footer.html %>
</body>
</html>
